{% extends 'base.html' %}
{% load static %}
{% block title %}
    分类-{{ category.name }}|Pluto's Blog
{% endblock %}
{% block content_left %}
    <div class="panel panel-default left">
        <div class="panel-body">
            <h2 class="category">{{ category.name }} <span class="badge">{{ category.get_articles.count }}</span></h2>
            <hr class="category-hr">
            <ul>
                {% for article in category.get_articles %}
                    <li class="category-li">
                        <p>
                            <span class="category-date">{{ article.create_time|date:'Y-m-d' }} </span>
                            <span><a href="{% url 'article' article.id %}">{{ article.title }}</a></span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}