{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Pluto's Blog
{% endblock %}
{% block content_left %}
    {% for article in articles.object_list %}
        <div class="panel panel-default left">
            <div class="panel-body">
                <h2 class="post-title"><a href="{% url 'article' article.title %}">{{ article.title }}</a></h2>
                <p class="post-date">
                    <span><i class="far fa-clock">：</i>{{ article.create_time|date:'Y-m-d H:i' }}</span>
                    <span><i class="fa fa-th-large">：</i><a href="{% url 'category_name' article.category.name %}">{{ article.category }}</a></span>
                </p>
                <section class="article-content">
                    {{ article.content|slice:'200' }}<a href="{% url 'article' article.title %}">——继续阅读</a>
                </section>
            </div>
        </div>
    {% endfor %}
    <ul class="pagination">
        {% if articles.has_previous %}
            <li class="long"><a href="?{{ articles.previous_page_number.querystring }}"><<</a></li>
        {% endif %}
        {% for page in articles.pages %}
            {% if page %}
                {% ifequal page articles.number %}
                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="none"><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        {% if articles.has_next %}
            <li class="long"><a href="?{{ articles.next_page_number.querystring }}">>></a></li>
        {% endif %}
    </ul>
{% endblock %}