body {
    background: url(../image/Photo-by-Sora-Sagano-on-Unsplash.jpg) fixed;
    background-size: cover;
    font: .93em/1.5 Verdana, "Helvetica Neue", Helvetica, Arial;
}

.header-wrapper {
    background: rgba(0, 0, 0, .2);
}
.page-header a{
    color: #fff;
}
.page-header a:hover {
    color: #53D4FF;
    text-decoration: none;
}

/* page-header */
#logo {
    font-weight: bold;
    line-height: 1em;
    font-size: 3em;
    margin: 0;
    letter-spacing: -.05em;
    text-shadow: 0 1px 0 #777;
}
.page-header .description {
    margin-bottom: 2px;
    font-style: italic;
    font-size: 1.4em;
    line-height: 1em;
    margin-top: 5px;
    color: white;
}
.page-header {
    margin-bottom: 10px;
    border-bottom-width: 0;
    padding-bottom: 0;
    margin-top: 30px;
}
.social {
    font-size: 3em;
}
/* end page-header */

/* search form */
#searchform {
    margin-right: 0;
}
/* end search */

/* nav */
/*nav {*/
    /*margin-bottom: 15px;*/
/*}*/
ul li {
    font-size: 1.7em;
}
/* end nav */

/* article */
.panel-default.left {
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: -1;
    background: rgba(255, 255, 255, .9);
}
.post-date {
    margin: 2px 0 2px 0;
}
.post-date span {
    font-style: italic;
    font-size: 1.3em;
    line-height: 1em;
    margin-right: 15px;
}
.post-date a {
    color: #4183C4;
}
.post-date a:hover {
    color: #53D4FF;
    text-decoration: none;
}

.post-title {
    font-weight: 600;
    line-height: 1.5em;
    font-size: 3em;
    margin: 0;
}
/*.post-title a {*/
    /*color: 	black;*/
/*}*/
.post-title a {
    color: #1b9dec;
}
.post-title a:hover {
    color: black;
    text-decoration: none;
}
.article-content {
    font-size: 1.5em;
}
/* end article*/

/* right-box */
.panel-default.right {
    margin-top: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
}
.panel-default.right h4 {
    margin: 20px 0 6px 0;
}
.panel-default.right li {
    list-style-type: none;
    display: block;
    margin: 0 5px 0 15px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 1.5em;
}
.panel-default.right a {
    color: #aaaaaa;
}
.panel-default.right a:hover {
    color: #ffffff;
}
/* end right-box */

/* hr */
#hr {
    height: 41px;
}
.back-to-top {
    position: relative;
    top: -10px;
    float: right;
    font-size: 4em;
}
.back-to-top a {
    color: black;
}
/* end hr */

/* footer */
footer {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: black;
}
footer:hover {
    color: white;
    font-weight: 400;
}
footer a {
    color: black;
    /*text-decoration: none;*/
}
footer a:hover {
    color: white;
}
footer p {
    text-align: center;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
}
/* end footer */

/* 分类和归档 */
hr {
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.category-h4,.archive-h4 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
.category,.category-name {
    color: #555555;
    font-weight: bold;
    line-height: 1em;
    font-size: 3em;
    margin: 0;
    letter-spacing: -.05em;
}
.archive-li,.category-li{
    list-style-type: none;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}
.archive-date,.category-date {
    letter-spacing: -.05em;
    margin-right: 10px;
}
.archive-li a:hover,.category-li a:hover {
    text-decoration: none;
    color: black;
}
/* end */